@media(max-width:1199px) {
	.sm2 {
		font-size: 50px;
	}
	.floor-plans-carousel .col-lg-4 {
		padding: 40px;
	}
	#amenities .col-lg-3 {
		padding-right: 10px;
	}
	#amenities .col-lg-3 img {
		width: 100%;
	}
	.slick-prev:before,
	.slick-next:before {
		font-size: 20px;
		padding: 8px;
	}
	.carousel-image-content {
		width: 35%;
	}
	.carousel-image-content p {
		line-height: 1.5em;
	}
	.carousel-control-prev {
		left: 77%;
	}
}

@media(max-width:991px) {
	.banslide-items {
		height: 90vh!important;
	}
	.immenu-header {
		border-bottom: none;
	}
	.header-menu a {
		color: #fff!important;
	}
	.header-menu {
		width: 100%!important;
		background: #191B1D;
	}
	.section-headings {
		color: #7f939a;
		font-size: 40px;
		font-weight: bold;
		margin-bottom: 25px;
	}
	.section1 .col-sm-7 {
		padding: 20px;
		padding-left: 0px;
		padding-bottom: 0px;
	}
	.pd20 {
		padding: 60px;
	}
	.floor-plans-carousel .col-lg-4 {
		padding: 20px;
	}
	.navbar-brand-image {
		width: 30%;
	}
}

@media(max-width:872px) {
	.carousel-image-content {
		width: 40%;
	}
	.carousel-control-prev {
		left: 75%;
	}
}

@media(max-width:767px) {
	.banslide-items {
		height: 70vh!important;
	}
	.section-headings {
		color: #7f939a;
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 25px;
	}
	.pd20 {
		padding: 20px;
	}
	.floor-plans-carousel .col-lg-8 {
		padding-left: 0px;
	}
	.carousel-inner {
		width: 100%;
		height: 40vh;
	}
	.carousel-inner img {
		width: 100%;
		max-height: 40vh;
	}
	.carousel-indicators {
		top: 75px;
	}
	.slick-prev,
	.slick-next {
		top: -70px
	}
	.carousel-image-content {
		top: 0;
		right: 0;
		width: 40%;
	}
	.carousel-image-content h3 {
		font-size: 14px;
	}
	.carousel-image-content p {
		font-size: 12px;
		line-height: 1.5em;
	}
	.carousel-control-prev-icon:before,
	.carousel-control-next-icon:before {
		font-size: 16px;
	}
	.carousel-control-prev {
		left: 77%;
	}
}

@media(max-width:575px) {
	.banslide-items {
		height: 50vh!important;
	}
	.banslide-items h3 {
		font-size: 20px;
		margin-top: -50px;
	}
	.immenu-header .navbar-brand {
		padding-left: 15px;
	}
	#amenities .col-lg-3 {
		padding-right: 10px;
	}
	#amenities .col-lg-3 img {
		width: 100%;
	}
	#contact .form {
		padding: 45px;
	}
	#amenities .col-lg-3 p {
		font-size: 14px;
		line-height: 20px;
		padding-right: 20px;
	}
	.carousel-image-content {
		top: 0%;
		width: 35%;
		padding: 20px;
	}
	.slick-prev,
	[dir='rtl'] .slick-prev {
		right: 15%;
	}
	.carousel-control-prev {
		left: 75%;
	}
}

@media(max-width:500px) {
	.carousel-image-content {
		top: 0%;
		width: 40%;
		padding: 20px;
	}
	.carousel-control-prev-icon:before,
	.carousel-control-next-icon:before {
		font-size: 12px;
	}
	.slick-prev,
	[dir='rtl'] .slick-prev {
		right: 18%;
	}
	.form .input-data {
		margin-top: 40px;
	}
	#price-list {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media(max-width:400px) {
	.carousel-image-content {
		right: 0;
	}
	.carousel-control-prev {
		left: 71%;
	}
	.carousel-image-content p {
		font-size: 11px;
		line-height: 1.25em;
	}
}